///////////////////////////////////
/* Put global custom style below */
///////////////////////////////////

/* Global */

* {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: theme('colors.blue.600');

  &:hover {
    color: theme('colors.blue.500');
  }

  html.dark & {
    color: theme('colors.blue.400');

    &:hover {
      color: theme('colors.blue.300');
    }
  }
}
